<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Define o diretório onde os logs serão armazenados -->
    <property name="LOG_PATH" value="logs" />
    <!-- Define o padrão do log -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n" />

    <!-- Define a data atual como variável para uso no nome do arquivo -->
    <timestamp key="logDate" datePattern="yyyy-MM-dd"/>

    <!-- Log no console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Log em arquivo com data no nome -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}/motor_log_${logDate}.txt</file>
        <append>true</append>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Logger global -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

</configuration>
